In [12]:
import pandas as pd
import numpy as np
mrvr = pd.read_csv('MRVR.csv', header=5)
mrvr = mrvr.iloc[:12]
mrvr = mrvr.fillna(0)
mrvr

,2022,Subscriber Revenue,PRO Deducted Fees,Applicable Deduction,Applicable Taxes Deduction,PRO Deduction,Monthly Subscribers,Monthly,IHS Monthly,Long-Term Subscribers,Discounted,Discount Phased Out,IHS Annual,Free Trials,Gratis Accounts,Unnamed: 15,PRO Deduction %
0,January,"$2,766,225","351,436","$10,155.80",0,"$45,280","131,730","46,479","50,779","16,632","16,632","34,472",0,"79,868",0,0.0,1.875%
1,February,"$3,156,342","402,957","$12,214.40",0,"$51,629","154,270","48,982","61,072","14,225","14,225","44,216",0,"38,097",0,0.0,1.875%
2,March,"$3,392,689","421,483","$13,371.60",0,"$55,713","170,121","50,340","65,458","10,130","10,130","52,923","1,400","31,461",0,0.0,1.875%
3,April,"$3,424,442","371,956","$13,869.60",0,"$57,237","175,525","48,196","65,196","5,650","5,650","57,981","4,152","21,559",0,0.0,1.875%
4,May,"$3,605,809","360,300","$14,473.60",0,"$60,857","189,421","55,856","64,014","1,962","1,962","61,197","8,354","16,098",0,0.0,1.875%
5,June,"$3,400,153","333,051","$13,810.40",0,"$57,511","179,135","48,564","57,958",0,0,"61,519","11,094","14,675",0,0.0,1.875%
6,July,0,0,$0.00,0,$0,0,0,0,0,0,0,0,0,0,0.0,1.875%
7,August,0,0,$0.00,0,$0,0,0,0,0,0,0,0,0,0,0.0,1.875%
8,September,0,0,$0.00,0,$0,0,0,0,0,0,0,0,0,0,0.0,1.875%
9,October,0,0,$0.00,0,$0,0,0,0,0,0,0,0,0,0,0.0,1.875%
10,November,0,0,$0.00,0,$0,0,0,0,0,0,0,0,0,0,0.0,1.875%
11,December,0,0,$0.00,0,$0,0,0,0,0,0,0,0,0,0,0.0,1.875%

In [20]:
period_quarter = input("period_quarter: ") # 1
period_yr = input("period_yr: ") # 2
period_mo = input("period_mo: ") # 3
territory_code = input("territory_code: ") # 4

# in the future this could be a fork for different clients
# right now it is set for WithinVR
service_id = 20610 # 5

i = int(period_mo) - 1
sub_rev = mrvr['Subscriber Revenue'][i] # 6
print("Subscriber Revenue: ", sub_rev)
sub_rev = sub_rev.replace('$','').replace(',','')

appl_dedu = mrvr['Applicable Deduction'][i] # 7
print("Applicable Deduction: ", appl_dedu)

tax_dedu = mrvr['Applicable Taxes Deduction'][i] # 8
print("Applicable Taxes Deduction: ", tax_dedu)

period_quarter: 2022Q2
period_yr: 2022
period_mo: 05
territory_code: US
Subscriber Revenue:  $3,605,809
Applicable Deduction:  $14,473.60
Applicable Taxes Deduction:  0

In [21]:
sql = f"select * from withinvr_content.period_pool_insert('{period_quarter}',{period_yr},{period_mo},'{territory_code}',{service_id},{sub_rev}, 0.0, 0.0 ,2434, 4678, 2927, 3749,0, null::numeric , null::numeric , null::numeric , null::numeric, (1.87510138718466/100)::numeric,2535.65,null::numeric /*total_usage*/,false,false)"
print(sql)

select * from withinvr_content.period_pool_insert('2022Q2',2022,05,'US',20610,3605809, 0.0, 0.0 ,2434, 4678, 2927, 3749,0, null::numeric , null::numeric , null::numeric , null::numeric, (1.87510138718466/100)::numeric,2535.65,null::numeric /*total_usage*/,false,false)

In [7]:
period_qtr

'2020Q4'

year = 2016
>>> event = 'Referendum'
>>> f'Results of the {year} {event}'
'Results of the 2016 Referendum'

In [9]:
import numpy as np
print(int(np.nan))

ValueError: cannot convert float NaN to integer